.slideshow-page {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.timer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    background-color: #ff5851;
    align-self: center;
    text-align: center;
}

.slideshow-page {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.timer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
    background-color: #ff5851;
    align-self: center;
    text-align: center;
}

.slideshow-text {
    margin-top: 20px;
    font-size: 32px;
    font-family: "Neucha";
}
