.donut-section {
    position: absolute;
    top: 170px;
    z-index: -1;

    /* the color is picked up through the currentColor value */
    color: black;
}

/* animate the scale of the SVG
this to have the icon move slightly away, before coming back alongside the animation of the path
*/
svg {
    max-width: 120px;
    height: auto;
}

/* hide the stroke of the circle & path element */
circle,
path {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
}
/* the circle and path element differ in most of the animation properties
the timing function is to have the circle start slowly and end abruptly, almost as if launching the animation of the path
this last one starts fast and ends slow
*/
circle {
    animation: infinite remove-offset linear;
    animation-delay: 0;
    animation-fill-mode: none;
}

.three {
    animation-duration: 4s;
}

.five {
    animation-duration: 6s;
}

.seven {
    animation-duration: 8s;
}

.ten {
    animation-duration: 10s;
}

.fifteen {
    animation-duration: 15s;
}

.twenty {
    animation-duration: 20s;
}

.pause {
    animation: null;
}

@keyframes scale-back {
    95% {
        transform: scale(0.7);
    }
}
@keyframes remove-offset {
    to {
        stroke-dashoffset: 0;
    }
}
