.smize-page {
    padding: 30px;
}

.smize-title {
    font-size: 48px;
}

.pick-a-category {
    display: flex;
    flex-direction: column;
}

.category-button {
    width: 200px;
    height: 200px;
    margin: 30px;
    align-self: center;
    text-align: center;
    font-size: 30px;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    color: rgba(0, 0, 0, 0);
}

.category-button:hover {
    transform: scale(1.3);
    background-color: #ff5851;
    color: white;
    background-image: none;
}

.cat-Women {
    background-image: url("../../Images/women.jpg");
    background-position: center;
    background-size: 200px;
    background-color: #ff5851;
}

.cat-Men {
    background: url("../../Images/men.jpg");
    background-position: center;
    background-size: 200px;
    background-color: #ff5851;
}

.cat-Kids {
    background: url("../../Images/kids.jpg");
    background-position: center;
    background-size: 200px;
    background-color: #ff5851;
}

.hidden {
    display: none;
}
