.nav-bar {
    padding: 20px 10px 0px 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ff5851;
    padding-bottom: 0px;
    position: fixed;
    width: 100%;
    top: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: white;
    border-bottom: solid 3px #ff5851;
    width: 30%;
    text-decoration: none;
    font-size: 20px;
}

.nav:hover {
    border-bottom: black 3px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: rgba(245, 245, 245, 0.205);
}

.selected {
    background-color: whitesmoke;
    color: black;
    border-bottom: 3px solid whitesmoke;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    pointer-events: none;
}
